@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&family=Open+Sans:wght@400;500;600&family=Passion+One&display=swap');
* {
    box-sizing: border-box;
  }
.hidden {
    display: none;
}

body{    
    box-sizing: border-box;
    display:flex;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}
@keyframes blur{
    0%{
            filter:none;
    }
    100%{
        filter: blur(4px);
    }
}
body:focus-within img{
    filter: blur(4px);
    animation: blur 2s ease-in-out;
}
input[type = submit]{
    border: none;
    
}
.todo-form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
}

#background{
    width: 100vw;
    height: 100vh;
    top: 0;
    position:absolute;
    z-index:-1;
    opacity: 80%;
}

#weather {  
    position: absolute;
    display: flex;
    top: 8vh;
    right: 20vh;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    font-weight: 700;
}
#weather div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}
#clock{
    font-size: 10vw;
    margin: 5vh 0;
}
#quote{
    box-sizing: border-box;
    font-size: 3vh;
    color: white;
    background-color: darkgray;
}